<% if user_signed_in? %>

  <li>
	<%= link_to('Home', root_path) %>
  </li>
  <li>
 	 <%= link_to('Perfil', user_path(current_user.id)) %>
  </li>

  <li>
  	<%= link_to('Edit User', edit_user_registration_path) %>
  </li>

  <li>
  	<%= link_to('New List', new_user_list_path(current_user)) %>
  </li>

  <li>
	<%= link_to('My Lists',user_lists_path(current_user)) %>
  </li>

  <li id="user_watches">
	<%= link_to 'My Watches', watches_path %>
  </li>

  <li>
  	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>

<% else %>
  <li id="new_account">
  	<%= link_to('New Account', new_user_registration_path)  %>
  </li>
<% end %>
